body {
  padding-top: 20px;
  &:before {
    content: "Large";
    background: turquoise;
  }
}
.test {
  background: #ccc;
}
.test-row {
  background: yellow;
}
.main-nav {
  @include list-unstyled;
}
